@media screen and (max-width: 900px) {
  /*Home */
  .nav-logo-text{
    span{
      display: none;
    }
  }
  /*End Home Page*/
}

@media screen and (max-width: 750px) {
  /*Global */
  .section-title{
    font-size: 4rem;
  }
  /*End Global*/


  /* Home Page*/

  /* Header */
  .hamburger-wrap{
    display: flex;
  }
  header{
    background-color: $white;
    .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .btn-get-started{
      margin:1.5rem 0 0 0;
    }
    &.open{
      .nav-header-menu{
        transform: translateX(0);
      }
      .hamburger-icon{
        .line:nth-of-type(1) {
          -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg) translate(0.6rem, 0.1rem);
        }
        .line:nth-of-type(2) {
          display: none;
        }
        .line:nth-of-type(3) {
          -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg) translate(0.6rem, -0.1rem);
        }
      }
    }
  }
  .nav-header{
    height: 6.4rem;
  }
  .nav-header-img{
    img{
      width: 4.8rem;
      height: 4.8rem;
    }
  }
  .nav-header-menu{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 6.4rem;
    height: 100vh;
    background-color: $white;
    flex-direction: column;
    z-index: 1;
    padding:0 2.5rem;
    transform: translateX(-20rem);
    transition: transform 0.5s ease-in-out;
  }
  .nav-header-items{
    flex-direction: column;
  }
  .nav-header-item{
    padding:1.5rem 7.5rem 1.5rem 0;
    border-bottom: 1px solid rgba(0,0,0,.15);
    &.active{
      .dropdown-library{
        display: grid;
      }
      img{
        transform: rotate(0deg);
      }
    }
  }
  .nav-header-link{
    font-size: 1.6rem;
    img{
      -webkit-transition: -webkit-transform .3s ease-in-out;
      transition:         transform .3s ease-in-out;
      transform: rotate(-90deg);
    }
  }
  .dropdown-library{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    width: initial;
    opacity: initial;
    visibility: initial;
    background-color: transparent;
    box-shadow: initial;
    position: initial;
    padding: initial;
    grid-template-columns:1fr;
    grid-gap: 1.5rem;
    display: none;
  }
  .dropdown-arrow-up{
    display: none;
  }
  .library-item{
    .library-title{
      font-size: 1.6rem;
      font-weight: 400;
    }
    &:hover{
      .library-title{
        color: $governor-bay;
      }
    }
  }
  .library-description{
    display: none;
  }
  .btn{
    font-size: 1.6rem;
    padding: 1rem 2rem;
  }
  /* Header */

  /*Hero*/
  .hero{
    .section-content{
      flex-direction: column;
    }
  }
  .hero-text{
    flex-basis: initial;
  }
  .hero-title{
    text-align: center;
    font-size: 5rem;
    width: initial;
  }
  .hero-img{
    margin-top: 2.5rem;
    margin-left: -1.5rem;
    width: calc(100% + 3rem);
  }
  .hero-btn{
    justify-content: center;
  }
  /*End Hero*/

  /*What About */
  .what-about{
    .section-content{
      flex-direction: column;
      grid-gap: 5rem;
    }
  }
  /*End What About */

  /*Organizations*/
  .organizations{
    padding-top: 0;
    .section-content{
      flex-wrap: wrap;
      margin-left: -1.5rem;
      width: calc(100% + 3rem);
    }
  }
  .organization{
    flex-basis: 33%;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $mencury;
    &:not(:nth-of-type(1)):not(:nth-of-type(4)) {
      border-left: 1px solid $mencury;
    }
    img{
      width: initial;
    }
  }
  /*End Organizations*/


  /*Features*/
  .features-text-img,.features-img,.feature-bg-img{
    display: none;
  }
  .features-text{
    padding: 0;
  }

  .feature-sm-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2.5rem;
    margin: 2.5rem auto 0;
    img{
      max-width: 25rem;
    }
    p{
      font-size: 1.4rem;
      font-weight: 400;
      color: $spun-pearl;
    }
  }
  .features{
    padding: 0;
    .section-content{
      flex-direction: column;
    }
  }
  .feature-head{
    h3{
      margin: 0;
    }
  }
  .feature-item{
    margin-left: -1.5rem;
    width: calc(100% + 3rem);
    padding: 0 1.5rem 2.5rem 1.5rem;
    &.active{
      border-color: $athens-gray;
      border-width: 1px;
      .feature-head{
        h3{
          margin: 0;
          color:$black ;
        }
      }
    }
    &:last-child{
      border: none;
    }
  }
  .feature-body{
    height: initial;
    opacity: 1;
    visibility: visible;
    margin-top:1.5rem;
  }
  /*End Features*/



  /*Team Inbox*/
  .team-inbox{
    .section-content{
      flex-direction: column;
      grid-gap:5rem ;
    }
  }
  .team-img{
    padding: 0;
    p{
      display: none;
    }
  }
  .team-text{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    & > *{
      max-width: initial;
    }
  }
  /*End Team Inbox*/

  /*Communicate*/
  .communicate-body{
    flex-direction: column;
  }
  .communicate-body-item{
    & > *{
      max-width: initial;
    }
    &:first-child{
      &:after {
        display: none;
      }
    }
    &:last-child{
      @include communicate-bottom-line;
    }
  }
  .communicate-img{
    width: 100%;
    img{
      max-width: 30rem;
      margin: 0 auto;
    }
  }
  .communicate-footer{
    flex-direction: column;
  }
  /*End Communicate*/

  /*Visitors*/
  .visitors-body{
    margin-top: 4rem;
  }
  /*End Visitors*/

  /*Testimonials*/
  .testimonial-list{
    max-width: 100%;
  }
  .testimonial{
    padding: 0;
  }
  .testimonial-img{
    position: initial;
    max-width: 30rem;
    margin:0 auto;
  }
  .testimonial-dots{
    margin: 2.5rem auto 5rem;
  }

  /*End Testimonials*/


  /*Free Trial*/
  .free-trial{
    .section-content{
      flex-direction: column;
      align-items: initial;
    }
    .section-title{
      text-align: center;
    }
  }
  .free-trial-img{
    max-width: 40rem;
    margin: 0 auto;
  }
  .free-trial-text{
    max-width: initial;
  }
  .free-trial-form{
    flex-direction: column;
    input{
      min-width: initial;
    }
  }
  /*End Free Trial*/

  /*End Home Page*/



  /*Legal Page*/
  .tab-title{
    font-size: 2.2rem;
  }
  .tab-description,.tab-list{
    font-size: 1.8rem;
  }
  /*End Legal Page*/



  /*Pricing Page*/
  .pricing-footer{
    flex-direction: column;
  }
  .price-help{
    &:first-child{
      border-right: initial;
      border-bottom: 1px solid rgba(43,41,45,.2);
    }
  }
  .question-title{
    font-size: 2rem;
  }
  .question-answer{
    font-size: 1.8rem;
  }
  .faq-questions{
    grid-template-columns:1fr;
  }
  /*End Pricing Page*/
}
@media screen and (max-width: 500px){
  /* Home Page*/

  /*Hire*/
  .job-item{
    flex-direction: column;
    grid-gap: 1.5rem;
    position: relative;
    align-items: initial;
    &.active {
      background-color: transparent;
      border: 1px solid rgba(0,0,0,.2);
      & > * {
        color: initial;
      }
      .job-location,.job-arrow{
        color:$cadet-blue;
      }
    }
  }
  .job-arrow{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    background-color: $pale-slate;
    color: $cadet-blue;
    font-weight: bold;
  }

  /*End Hire*/


  /*Footer*/
  .footer-top{
    flex-wrap: wrap;
  }
  .footer-info{
    align-items: center;
    flex-shrink: 0;
    margin-left: -1.5rem;
    width: calc(100% + 3rem);
    padding-bottom: 5rem;
    border-bottom: 1px solid $mencury;
  }
  .footer-desc{
    display: none;
  }
  .mobile-app{
    flex-wrap: nowrap;
  }
  .footer-menu{
    flex-direction: column;
  }
  .footer-bottom{
    border: none;
    margin:0;
    .container{
      flex-direction: column;
      grid-gap: 2.5rem ;
    }
  }
  /*End Footer*/


  /*End Home Page*/
}
@media screen and (max-width: 450px){
  /*Home Page*/
  .hero-btn{
    flex-direction: column;
  }

  /*Organizations*/
  .organization{
    img{
      width: initial;
      max-width: 7.5rem;
    }
  }
  /*End Organizations*/


  /*Visitors*/
  .visitors-btn{
    flex-direction: column;
  }
  /*End Visitors*/


  /*Hire*/
  .btn-hire{
    display: block;
  }
  /*End Hire*/

  /*End Home Page*/
}