@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #ffffff;
  color: #2B292D;
}

img {
  width: 100%;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  line-height: 8rem;
}

h2 {
  line-height: 5rem;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

section {
  padding: 5rem 0;
}

.btn {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1.3rem 2rem;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  -webkit-box-shadow: 1px 1px 8px 0px #2b292d;
  -moz-box-shadow: 1px 1px 8px 0px #2b292d;
  box-shadow: 1px 1px 8px 0px #2b292d;
}

/*HOME PAGE*/
/*Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}
header .btn-get-started {
  margin-left: 1.5rem;
}

.nav-header {
  font-family: "Work Sans", sans-serif;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-header-logo {
  display: flex;
  align-items: center;
}

.nav-logo-text h4 {
  font-size: 2rem;
}
.nav-logo-text span {
  font-size: 1.8rem;
  font-weight: 400;
  color: #aaa6ae;
}

.nav-header-menu {
  display: flex;
  align-items: center;
}

.nav-header-items {
  display: flex;
}

.nav-header-item {
  padding: 0 1.5rem;
  transition: all 0.5s;
  position: relative;
}
.nav-header-item.active .nav-header-link {
  font-weight: bold;
}
.nav-header-item:hover .dropdown-library {
  visibility: visible;
  opacity: 1;
}

.nav-header-link {
  font-size: 1.8rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.nav-header-link img {
  margin-left: 1rem;
  font-family: initial;
  max-height: 0.8rem;
  width: initial;
}

.dropdown-library {
  position: absolute;
  top: calc(100% + 2rem);
  right: 0;
  width: 60rem;
  background-color: #ffffff;
  border-radius: 0.8rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(50% - 2.5rem), 1fr));
  grid-gap: 2.5rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.dropdown-arrow-up {
  position: absolute;
  top: -3rem;
  right: 5%;
  width: 6rem;
  height: 3rem;
  overflow: hidden;
}
.dropdown-arrow-up:before {
  position: absolute;
  content: "";
  width: 100%;
  height: inherit;
  background-color: #ffffff;
  top: 100%;
  webkit-box-shadow: 1px 0px 8px 0px #2b292d;
  -moz-box-shadow: 1px 0px 8px 0px #2b292d;
  box-shadow: 1px 0px 4px 0px #2b292d;
  transform: rotate(45deg);
}

.library-item {
  cursor: pointer;
}
.library-item:hover .library-title {
  color: #009B4D;
}

.library-title {
  transition: color 0.3s;
  font-size: 2.2rem;
}

.library-description {
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.btn-get-started {
  background-color: #3040C4;
  color: #ffffff;
}

/*End Header */
/*Hero */
.hero {
  background-color: #F3C6BD;
  min-height: 100vh;
  padding-top: 15rem;
}

.section-content {
  display: flex;
}

.hero-text {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  position: relative;
}

.hero-title {
  width: 150%;
  font-size: 8rem;
}

.hero-desc {
  margin: 3rem 0 6rem;
  font-size: 2.4rem;
  font-weight: 400;
}

.btn-learn-more {
  background-color: #ffffff;
  color: #3040C4;
}

.hero-img {
  flex-basis: 65%;
  display: flex;
  align-items: center;
  background-color: #efb9af;
}

/*End Hero */
/*What About */
.what-about {
  background-color: #F4F5F7;
}

.what-about-item {
  max-width: 50rem;
  margin: auto;
  padding: 0 1.5rem;
}
.what-about-item h4 {
  font-size: 2.2rem;
}
.what-about-item p {
  margin-top: 0.5rem;
  font-size: 2.2rem;
  font-weight: 400;
}

/*End What About */
/*Organizations*/
.organizations .section-content {
  align-items: center;
  justify-content: space-around;
}

/*End Organizations*/
/*Features*/
.features {
  position: relative;
}
.features .section-content {
  align-items: center;
}

.features-text {
  flex-basis: 40%;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
}

.features-text-img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 16rem;
  height: 16rem;
  transform: translate(-30%, -50%);
}

.features-head {
  font-size: 2.2rem;
  color: #009B4D;
}

.features-title {
  font-size: 5.6rem;
  font-weight: bold;
  margin: 2.5rem 0;
}

.features-desc {
  font-size: 2.4rem;
  font-weight: 400;
}

.feature-list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  grid-gap: 2.5rem;
}

.feature-item {
  border-bottom: 1px solid #F4F5F7;
  padding-bottom: 2.5rem;
  cursor: pointer;
}
.feature-item.active .feature-head h3 {
  color: #3142C6;
}
.feature-item.active .feature-body {
  height: initial;
  opacity: 1;
  visibility: visible;
  margin-top: 1.5rem;
}

.feature-head {
  display: flex;
  align-items: center;
}
.feature-head img {
  max-width: 2.4rem;
}
.feature-head h3 {
  font-size: 2.2rem;
  margin-left: 1rem;
}

.feature-body {
  font-size: 1.8rem;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, height 0.5s linear, opacity 0.5s linear;
}

.features-img {
  flex-basis: 55%;
  margin-left: 5%;
}

/*End Features*/
/*END HOME PAGE*/

/*# sourceMappingURL=main.css.map */
