@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #ffffff;
  color: #2B292D;
}

img {
  width: 100%;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  line-height: 8rem;
}

h2 {
  line-height: 5rem;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

section {
  padding: 5rem 0;
}

.btn {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1.3rem 2rem;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  -webkit-box-shadow: 1px 1px 8px 0px #2b292d;
  -moz-box-shadow: 1px 1px 8px 0px #2b292d;
  box-shadow: 1px 1px 8px 0px #2b292d;
}

.flex-column {
  flex-direction: column;
}

.section-content {
  display: flex;
}

.section-head-title {
  font-size: 2.2rem;
}

.section-title {
  font-size: 5.6rem;
  margin: 2.5rem 0;
}

.section-desc {
  font-size: 2.4rem;
  font-weight: 400;
}

/*HOME PAGE*/
/*Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}
header .btn-get-started {
  margin-left: 1.5rem;
}

.nav-header {
  font-family: "Work Sans", sans-serif;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-header-logo {
  display: flex;
  align-items: center;
}

.nav-header-img img {
  width: 6rem;
  height: 6rem;
  max-width: initial;
}

.nav-logo-text h4 {
  font-size: 2rem;
}
.nav-logo-text span {
  font-size: 1.8rem;
  font-weight: 400;
  color: #aaa6ae;
}

.nav-header-menu {
  display: flex;
  align-items: center;
}

.nav-header-items {
  display: flex;
}

.nav-header-item {
  padding: 0 1.5rem;
  transition: all 0.5s;
  position: relative;
}
.nav-header-item.active .nav-header-link {
  font-weight: bold;
}
.nav-header-item:hover .dropdown-library {
  visibility: visible;
  opacity: 1;
}

.nav-header-link {
  font-size: 1.8rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.nav-header-link img {
  margin-left: 1rem;
  font-family: initial;
  max-height: 0.8rem;
  width: initial;
}

.dropdown-library {
  position: absolute;
  top: calc(100% + 2rem);
  right: 0;
  width: 60rem;
  background-color: #ffffff;
  border-radius: 0.8rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(50% - 2.5rem), 1fr));
  grid-gap: 2.5rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.dropdown-arrow-up {
  position: absolute;
  top: -3rem;
  right: 5%;
  width: 6rem;
  height: 3rem;
  overflow: hidden;
}
.dropdown-arrow-up:before {
  position: absolute;
  content: "";
  width: 100%;
  height: inherit;
  background-color: #ffffff;
  top: 100%;
  webkit-box-shadow: 1px 0px 8px 0px #2b292d;
  -moz-box-shadow: 1px 0px 8px 0px #2b292d;
  box-shadow: 1px 0px 4px 0px #2b292d;
  transform: rotate(45deg);
}

.library-item {
  cursor: pointer;
}
.library-item:hover .library-title {
  color: #009B4D;
}

.library-title {
  transition: color 0.3s;
  font-size: 2.2rem;
}

.library-description {
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.btn-get-started {
  background-color: #3040C4;
  color: #ffffff;
}

/*End Header */
/*Hero */
.hero {
  background-color: #F3C6BD;
  min-height: 100vh;
  padding-top: 15rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  position: relative;
}

.hero-title {
  width: 150%;
  font-size: 8rem;
}

.hero-desc {
  margin: 3rem 0 6rem;
  font-size: 2.4rem;
  font-weight: 400;
}

.hero-btn {
  display: flex;
  grid-gap: 2rem;
}

.btn-learn-more {
  background-color: #ffffff;
  color: #3040C4;
}

.hero-img {
  flex-basis: 65%;
  display: flex;
  align-items: center;
  background-color: #efb9af;
}

/*End Hero */
/*What About */
.what-about {
  background-color: #F4F5F7;
}

.what-about-item {
  max-width: 50rem;
  margin: auto;
  padding: 0 1.5rem;
}
.what-about-item h4 {
  font-size: 2.2rem;
}
.what-about-item p {
  margin-top: 0.5rem;
  font-size: 2.2rem;
  font-weight: 400;
}

/*End What About */
/*Organizations*/
.organizations .section-content {
  align-items: center;
  justify-content: space-around;
}

/*End Organizations*/
/*Features*/
.features {
  position: relative;
}
.features .section-content {
  align-items: center;
}

.features-text {
  flex-basis: 40%;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
}

.features-text-img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 16rem;
  height: 16rem;
  transform: translate(-30%, -50%);
}

.feature-head-title {
  color: #009B4D;
}

.feature-list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  grid-gap: 2.5rem;
}

.feature-item {
  border-bottom: 1px solid #F4F5F7;
  padding-bottom: 2.5rem;
  cursor: pointer;
}
.feature-item.active {
  border-color: #3142C6;
  border-width: 3px;
}
.feature-item.active .feature-head h3 {
  color: #3142C6;
}
.feature-item.active .feature-body {
  height: initial;
  opacity: 1;
  visibility: visible;
  margin-top: 1.5rem;
}

.feature-head {
  display: flex;
  align-items: center;
}
.feature-head img {
  max-width: 2.4rem;
}
.feature-head h3 {
  font-size: 2.2rem;
  margin-left: 1rem;
}

.feature-body {
  font-size: 1.8rem;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, height 0.5s linear, opacity 0.5s linear;
}

.features-img {
  flex-basis: 55%;
  margin-left: 5%;
}

/*End Features*/
/*Team Inbox*/
.team-inbox {
  background-color: #FCF0E3;
}
.team-inbox .section-content {
  align-items: center;
}

.team-img {
  flex-basis: 50%;
  padding-right: 2.5rem;
}
.team-img > * {
  max-width: 40rem;
}
.team-img p {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}

.team-text {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.team-text > * {
  max-width: 45rem;
}

.team-head-title {
  color: #F1592B;
}

.team-card {
  margin-top: 5rem;
  background-color: #ffffff;
  padding: 2rem;
  border-bottom: 4px solid #0185D0;
}

.team-card-head {
  font-size: 2rem;
}

.team-card-body {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}
.team-card-body img {
  max-width: 4rem;
}

.team-card-text {
  margin-left: 1rem;
}
.team-card-text h5 {
  font-size: 1.6rem;
}
.team-card-text span {
  font-size: 1.6rem;
  color: #aaa6ae;
  font-weight: 400;
}

/*End Team Inbox*/
/*Communicate*/
.communicate-body {
  display: flex;
  align-items: center;
}

.communicate-head-title {
  color: #0185D0;
}

.communicate-body-item {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  position: relative;
}
.communicate-body-item:first-child {
  padding-bottom: 10rem;
}
.communicate-body-item:first-child:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 15rem;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}
.communicate-body-item > * {
  max-width: 40rem;
}
.communicate-body-item .btn-get-started {
  max-width: 16rem;
  margin-top: 2.5rem;
}

.communicate-img p {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.communicate-footer {
  display: flex;
  grid-gap: 2.5rem;
  margin-top: 5rem;
}

.communicate-footer-item {
  flex-basis: 33.3%;
  padding-right: 5rem;
}
.communicate-footer-item p {
  font-size: 1.8rem;
}
.communicate-footer-item p span {
  font-weight: bold;
}
.communicate-footer-item a {
  display: block;
  margin-top: 1rem;
  color: #3040C4;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.8rem;
}

/* End Communicate*/
/*Visitors*/
.visitors {
  background-color: rgba(0, 161, 198, 0.07);
}
.visitors .section-content {
  text-align: center;
}

.visitors-header {
  max-width: 45rem;
  margin: auto;
}

.visitors-btn {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  grid-gap: 2rem;
}
.visitors-btn .btn-learn-more {
  color: #2B292D;
}

.visitors-body {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
}

.visitor-item {
  background-color: #ffffff;
  padding: 2rem;
}
.visitor-item.active {
  background-color: #3040C4;
}
.visitor-item.active .visitor-img-title {
  color: #ffffff;
}

.visitor-img {
  width: auto;
  max-height: 19.5rem;
}

.visitor-img-title {
  font-size: 2.2rem;
  margin-top: 1rem;
}

/*End Visitors*/
/*Testimonials*/
.testimonials {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.testimonials .section-content {
  position: relative;
}

.testimonial-img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 27rem;
  z-index: -1;
}

.testimonial-head-title {
  color: #3142C6;
  text-align: center;
}

.testimonial-list {
  display: flex;
  max-width: 75rem;
  margin: 2.5rem auto 0;
  overflow: hidden;
}

.testimonial {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 5rem;
  width: 100%;
  transition: 1s all;
}

.testimonial-desc {
  font-size: 2.4rem;
  font-weight: 400;
}

.testimonial-author {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 2.5rem 0 0.5rem;
}

.author-title {
  font-size: 1.6rem;
  color: #aaa6ae;
}

.testimonial-dots {
  margin: 5rem auto;
  display: flex;
  grid-gap: 2.5rem;
}

.testimonial-dot {
  width: 0.8rem;
  height: 0.8rem;
  background-color: rgba(43, 41, 45, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
.testimonial-dot.active {
  background-color: #3040C4;
}
.testimonial-dot:hover {
  -webkit-box-shadow: 1px 1px 4px 0px #2b292d;
  -moz-box-shadow: 1px 1px 4px 0px #2b292d;
  box-shadow: 1px 1px 4px 0px #2b292d;
}

/*End Testimonials*/
/*END HOME PAGE*/

/*# sourceMappingURL=main.css.map */
